body {
    background-color: white;
    font-family: Arial, Tahoma, serif;
    max-width: 700px;
    margin: auto;
}
.main {
    font-family: 'Pridi', serif;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: lightgrey;
}
a:hover {
    color: black;
    text-decoration: underline;
}
hr {
    border-top: 5px solid lightgrey;
}
.infos {
    display: flex;
}
.textfeld {
    padding: 20px;
    vertical-align: middle;
}

.links {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-bottom: 5px;
}
.accordion-button:hover {
    background-color: lightgrey !important;
    color:black !important;
    text-decoration: none !important;
    border: hidden !important;
}
.accordion-button:focus, .accordion-button:active {
    background-color: lightgrey;
}
.accordion-button:not(.collapsed) {
    color: black  !important;
    background-color: lightgrey !important;
    border: hidden !important;
}